body{
    max-width: 800px;
    margin: 0 auto;
}

.card{
    display: flex;
    justify-content: space-between;
}

.card:hover{
    font-size: 125%;
    font-weight: bold;
}

.button{
    margin: 10px;
}